* {
    margin: 0;
    padding: 0;
    font-family: "Apple SD Gothic Neo", "맑은 고딕", "돋움", sans-serif;
}

.page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    box-sizing: border-box;
    padding: 48px 24px;
    width: 360px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-items: stretch;
}

.logo_img {
    margin: 0 auto 40px;
    width: 210px;
    height: 56px;
}

.input_id, .input_pw {
    display: block;
    box-sizing: border-box;
    margin-top: 4px;
    border: none;
    padding: 10px;
    border-radius: 12px;
    width: 100%;
    font-size: 16px;
    background-color: #F2F2F2;
    outline: none;
}

.login_btn {
    margin-top: 4px;
    padding: 10px;
    border-radius: 12px;
    width: 100%;
    border: none;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
    background-color: #888888;
    cursor: pointer;
}

.keep {
    display: inline-flex;
    align-items: center;
    padding-left: 8px;
    color: #777777;
    font-size: 14px;
    cursor: pointer;
    gap: 8px;
    cursor: pointer;
}

.find {
    color: #777777;
    font-size: 14px;
    cursor: pointer;
}

.options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 16px;
}

.register {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    color: #777777;
    text-decoration: underline;
}

footer {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    margin-top: 90px;
}

footer p{
    font-size: 12px;
    color: #a6a6a6;
    cursor: pointer;
}
